*{
	margin: 0;
	padding: 0;
}
body{
	background-color: black;

}
.btn{
	margin-left: 40%;
	margin-top: 30%;


}
button {
	width: 200px;
	padding: 20px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 35px;
	border: 2px solid #009688;
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;

}
span{
	background: teal;
	height: 100%;
	width: 0;
	border-radius: 35px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}
button:hover span{
	width: 100%;

}
button:hover{
	border: none;
}